<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>ePost</title>

        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>

        <style>

            body {
                background: #2A7B9B;
                background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 15%, rgba(237, 221, 83, 1) 100%);
                min-height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        </style>
    </head>
    <body>

        <div id="login-page">

            <div class="login-form" >

                <h2 class="mb-4">🚀Login ePost</h2>

                <form th:action="@{/epost/login}" method="post"  id="usernameForm">

                    <label for="userName">Benutzer</label>&nbsp;&nbsp;                    
                    <select name="userName" id="userName">
                        
                        <option th:each="user, iterStat : ${listBenutzer}" th:value="${user.userName}" >
                            
                            <span th:text="${user.vorName}">name</span>&nbsp;
                            <span th:text="${user.nachName}">name</span>&nbsp;(
                            <span th:text="${user.userName}">name</span>)
                            
                        </option>

                        <option value="nvorh">Nicht Vorhanden (nvorh)</option>
                    </select>

                    <br/><br/>

                    <label for="userPassword">Kennwort</label>&nbsp;&nbsp;
                    <input value="geheim" type="text" id="userPassword" name="userPassword" class="form-control mb-3" placeholder="Kennwort" required /><br/><br/>
                    <br/>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>

                <br/>

                <section th:if="${error_message}" class="detail-error-message">
                    <p th:text="${error_message}"></p>
                </section>

            </div>

        </div>

    </body>
</html>