<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Vorgang Details</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <h1>ePost - Vorgang Details</h1>

        <section class="vorgang_detail_text_spalte">
            <div class="vorgang-card">

                <p><strong>ePost ID</strong>          <span th:text="${vorgang.wfEPostID}"    >x</span></p>
                <p><strong>Status</strong>            <span th:text="${vorgang.wfStatus}"     >x</span></p>
                <p><strong>Aktivitaet</strong>        <span th:text="${vorgang.wfAktivitaet}" >x</span></p>
                <p><strong>Paginier-Nr</strong>       <span th:text="${vorgang.paginierNr}"   >x</span></p>
                <p><strong>Stammnummer</strong>       <span th:text="${vorgang.stammNr}"      >x</span></p>
                <p><strong>Vertragsnummer</strong>    <span th:text="${vorgang.vertragNummer}">x</span></p>
                <p><strong>UID</strong>               <span th:text="${vorgang.vorgangTypNr}" >x</span></p>
                <p><strong>Bearbeiter</strong>        <span th:text="${vorgang.bearbeiter}"   >x</span></p>
            </div>

            <div class="kunde-layout">

                <div class="kunde-card">
                    <p><strong>Vorname</strong>      <span th:text="${kunde.vorName}"      >x</span></p>
                    <p><strong>Nachname</strong>     <span th:text="${kunde.nachName}"     >x</span></p>
                    <p><strong>email</strong>        <span th:text="${kunde.email}"        >x</span></p>
                    <p><strong>Geburtsdatum</strong> <span th:text="${kunde.geburtsDatum}" >x</span></p>
                </div>

                <div class="adresse-card">
                    <p><strong>Straße</strong> <span th:text="${adresse.strasse}">x</span></p>
                    <p><strong>Ort</strong>    <span th:text="${adresse.ort}">x</span></p>
                    <p><strong>PLZ</strong>    <span th:text="${adresse.postleitzahl}">x</span></p>
                    <p><strong>Land</strong>   <span th:text="${adresse.land}">x</span></p>
                </div>
                
            </div>

        </section>

        <div class="actions">

            <div class="actions-left">

                <a th:href="@{/vorgaenge}" class="btn-secondary">Zurück zur Liste</a>

                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/api/dokument/paginr/{paginr}(paginr=${vorgang.paginierNr})}" target="_blank" class="btn-primary" >PDF anzeigen</a>

                &nbsp;&nbsp;&nbsp;

                <form th:if="${(can_claim) }" th:action="@{/vorgang/{id}/claim(id=${vorgang.wfEPostID})}" 
                      method="post" 
                      style="display: inline;"
                      >
                    <button type="submit" class="btn-danger">Vorgang annehmen</button>
                </form>

                <form th:if="${(can_close)}" th:action="@{/vorgang/{id}/finish(id=${vorgang.wfEPostID})}" 
                      method="post" 
                      style="display: inline;"
                      >
                    <button type="submit" class="btn-danger">Vorgang beenden</button>
                </form>

            </div>  

        </div>  

<section th:if="${error_message}" class="detail-error-message">
    <p th:text="${error_message}"></p>
</section>

    </body>

</html>